<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MercenariesAndBeasts.Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @S["Home"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dungeons">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @S["Dungeons"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="expeditions">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @S["Locations"]
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin">
    <Authorized>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/admin">
                <span class="oi oi-list-rich"></span> Admin
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/locations-admin">
                <span class="oi oi-list-rich"></span> @S["Locations"] Admin
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/dungeons-admin">
                <span class="oi oi-fire"></span> @S["Dungeons"] Admin
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/items-admin">
                <span class="oi oi-box"></span> Items Admin
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/users">
                <span class="oi oi-box"></span> Users Admin
            </NavLink>
        </li>
    </Authorized>
</AuthorizeView>
    </nav>
</div>

